/************************header******************************/
*
{
	margin: 0px;
	padding: 0px;

}
body
{
	background: #eee;
}


/************************header******************************/
header
{
	position: absolute;
	float: left;
	top:0px;
	left: 0px;
	
	opacity:1;
	background-size: cover;
	width: 100%;
	background-repeat:repeat;
	height:53%;
	margin: 0;
}
.header
{
	background-repeat: no-repeat;
	position: absolute;
	top: 55px;
	width: 100%;
	height: 293px;
}
/*******************************************nav************************************/

/*********************logo**********************/
.slogo
{

	position: absolute;
	left: 160px;
	top: 30px;	
	color:#fff;
	text-align: center;
	font: bold;
	font-size: 18px;

}


.logo
{
	position: absolute;
	left: 70px;
	top: 5px;	
	width: 105px;
	height: 92px;
}
.head-logo
{
	position: absolute;
	left: 580px;
	top: 10px;	
	width: 135px;
	height: 92px;
}
/*******************************************nav************************************/

/*****************menu************/
.menu
{
	position: absolute;
	float: left;
	top: 0px;
	left:0px;
	background-color: #002261;
	opacity:1;
	width: 100%;
	background-repeat:repeat;
	height:25%;
}
.menu ul
{
	padding: 0;
	display: flex;
	position: absolute;
	right:300px;
	top:20px;
}
.menu ul li 
{
	list-style: none;
	padding: 10px 20px;

}
.menu ul li a 
{
	text-decoration: none;
	position: relative;
	font-size:1.5em;
	padding: 5px;
	color: #fff;
}
.menu ul li a:hover
{
	color:#ff0;
}
.menu ul li a span:first-child:before
{
	content: '';
	position: absolute;
	top:0;
	left: 0;
	width: 8px;
	height: 8px;
	background-color: transparent;
	border-top:2px solid #ff0;
	border-left:2px solid #ff0;
	transition: .2s;
	opacity: 0;
}
.menu ul li a:hover span:first-child:before
{
	top: -10px;
	left: -10px;
	opacity: 1;
}

.menu ul li a span:first-child:after 
{
	content: '';
	position: absolute;
	top:0;
	right: 0;
	width: 8px;
	height: 8px;
	background-color: transparent;
	border-top:2px solid #ff0;
	border-right:2px solid #ff0;
	transition: .2s;
	opacity: 0;
}
.menu ul li a:hover span:first-child:after 
{
	top: -10px;
	right: -10px;
	opacity: 1;
}
.menu ul li a span:last-child:before
{
	content: '';
	position: absolute;
	bottom:0;
	left: 0;
	width: 8px;
	height: 8px;
	background-color: transparent;
	border-bottom:2px solid #ff0;
	border-left:2px solid #ff0;
	transition: .2s;
	opacity: 0;
}
.menu ul li a:hover span:last-child:before
{
	bottom: -10px;
	left: -10px;
	opacity: 1;
}
.menu ul li a span:last-child:after 
{
	content: '';
	position: absolute;
	bottom:0;
	right: 0;
	width: 8px;
	height: 8px;
	background-color: transparent;
	border-bottom:2px solid #ff0;
	border-right:2px solid #ff0;
	transition: .2s;
	opacity: 0;
}
.menu ul li a:hover span:last-child:after 
{
	bottom: -10px;
	right: -10px;
	opacity: 1;
}


/******************************************/
.menu3
	{
		position: absolute;
		top: 400px;
		left: 70px;
		width: 1215px;
		height: 40px;
		background-color:#B6B6B7; 
		line-height: 40px;
	}


.menu3-rectangle-etd a
	{
		color: white;
		text-decoration: none;
		top: 10px;
	}

.menu3-rectangle-a a
	{
		color: white;
		text-decoration: none;
		top: 10px;
	}

	.dernier-chemin
	{
		display: inline-block;
		position: absolute;
	}
	.dernier-chemin a
	{
		color: white;
		position: relative;
		top: 4px;
	}


	.menu3-rectangle-a
	{
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
	}

	.menu3-rectangle-a
	{
		content: '';
		display: inline-block;
		border-top: 0px solid gray;
		border-left: 40px solid gray;
		border-right: 40px solid gray;
		border-bottom: 0px solid gray;
		line-height: 40px;
		background-color: gray;
	}
	


	.menu3-triangle-a
	{
		display: inline-block;
		position: absolute;
		left: 130px;
		top: .08rem;
	}

	
	
	.menu3-triangle-a::after
	{
		content: '';

		display: inline-block;
		border-top: 19px solid transparent;
		border-left: 19px solid gray;
		border-bottom: 19px solid transparent;

	}


	.menu3-triangle-a-blanc
	{
		display: inline-block;
		position: absolute;
		left: 130px;
		top:-.04rem;
	}

	
	
	.menu3-triangle-a-blanc::after
	{
		content: '';
		display: inline-block;
		border-top: 21px solid transparent;
		border-left: 21px solid white;
		border-bottom: 21px solid transparent;
	}



	/***********etd************/
	.menu3-rectangle-etd
	{
		display: inline-block;
		position: absolute;
		top: 0;
		left: 126px;
	}

	.menu3-rectangle-etd
	{
		content: '';
		display: inline-block;
		border-top: 0px solid gray;
		border-left: 40px solid gray;
		border-right: 40px solid gray;
		border-bottom: 0px solid gray;
		line-height: 40px;
		background-color: gray;
	}
	
	
	.menu3-triangle-etd
	{
		display: inline-block;
		position: absolute;
		left: 260px;
		top: .08rem;
	}

	
	
	.menu3-triangle-etd::after
	{
		content: '';

		display: inline-block;
		border-top: 19px solid transparent;
		border-left: 19px solid gray;
		border-bottom: 19px solid transparent;
	}


	.menu3-triangle-etd-blanc
	{
		display: inline-block;
		position: absolute;
		left: 260px;
		top:-.04rem;
	}

	
	
	.menu3-triangle-etd-blanc::after
	{
		content: '';
		display: inline-block;
		border-top: 21px solid transparent;
		border-left: 21px solid white;
		border-bottom: 21px solid transparent;
	}

	.dernier-chemin
	{
		position: absolute;
		left: 300px;
		top: -5px;
	}


.menu2 
{
	position: absolute;
	top:348px;
	width: 90%;
	left:70px;
	background-color: green;
	border-radius: 5px;

}
.menu2 nav li 
{
	display:inline-block;/*mettre les reubrique dans la meme ligne*/
	width:299px;
	padding :0px;/*ps de marge intr*/
    margin-left:0px;
	text-align:center;
	line-height:33px;/*espace f l height */
	background-color:transparent;
	top:0px;
	position: relative;
}
.menu2 nav li a
{
	color: #fff;
	text-decoration:none;
	display:inline-block;/*le changement contient tt la rubrique*/
	width:100%;
	height: 700%;
	transform: translate(0%,0%);
	padding: 5px;
	overflow: hidden;
	font-size: 18px;
	}
.menu2 nav li a:before
{ 
	content: '';
	position: absolute;
	left: -320px;
	width: 100%;
	height:800%;
	background-color:#d5f541;
	opacity: 0.3;
	transition: .5s ease-in-out;
	top:0px;

}
.menu2 nav li a:hover:before
{
	left: 0;
	z-index: -1;
	color:green;
}


/*******************************************/
.slogo
{

	position: absolute;
	left: 220px;
	top: 30px;	
	color:#fff;
	text-align: center;
	font: bold;
	font-size: 18px;

}


.logo
{
	position: absolute;
	left: 100px;
	top: 5px;	
	width: 105px;
	height: 92px;
}
.head-logo
{
	position: absolute;
	left: 580px;
	top: 10px;	
	width: 135px;
	height: 92px;
}

/************************Button**********/
.but

{
	text-decoration: none;
	color: #002261;
	font-size: 22px;
	position: absolute;
	top:1190px;
	left: 750px;
	font-style: bold;

}

.buttonETD
{
	margin-top: 800px;
	margin-left: 140px;
	top:-500PX;
	position: absolute;


}

.btn
{
	border: 1px solid #010A54;
	background: none;
	font-size: 20px;
	height: 60px;
	width: 350px;
	border-radius: 10px;
	font-family: ;
	cursor: pointer;
	margin: 10px;
	transition: 0.8s;
	position: relative;
	overflow: hidden;
}

.msg,.choix
{
	color: #010A54;
}

.msg:hover, .choix:hover
{
	color: white;
}

.btn::before
{
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 0%;
	background: #92B0DC;
	z-index: -1;
	transition: 0.8s;
}

.msg::before
{
	top:0;
	border-radius: 0 0 50% 50%;
}
.choix::before
{
	bottom: 0;
	border-radius: 50% 50% 0 0;
}
.msg:hover::before, .choix:hover::before
{
	height: 180%;
}


/*******************compte******************/
/*******************compte******************/
.compte
 {
 	padding:30px;
  	width: 350px;
 	height:570px;
 	color:#10205F;
 	box-sizing: border-box;
	background: transparent;
	display:block;
	float: right;
	position: absolute;
	right: 10px;
	top: -19px;
	border-radius: 5px;
 }

 .user-name
 {
 	float: right;
 	margin-top:400%;
 	color:#fff;
 	width: 200px;
 	right: 10px;
     top: -1350px;
 	height:40px;
 	font-size: 20px;
 	position:absolute;
 }
 .user-img
 {
 	border-radius: 50px;
 	position:absolute;
 	top: 38px;
 	width: 45px;
 	height:45px;
 	right:215px;
 }




/**************************plus compte***************/

/******************comt*************************/
/**************************plus***************/

.container
{
	position: absolute;
	top: 25px;
	float: right;
	right: 50px;
}

.container ul
{
	list-style: none;
	margin-top: 30px;
}

.container .m ul li
{
	float: left;
}
.m
{
	position: absolute;
	top: 25px;
	float: right;
	right: 10px;
}

.m li
{
	text-align: center;
	list-style: #8E44AD;
	color: blue;
	font-size: 19px;
	line-height: 50px;
	height: 50px;
	width: 150px;
	border-left: 1px solid green;
	border-right: 1px solid green;
	background-color: white; 
}

.m li:hover
{
	background-color: #85C1E9;
}

.container ul ul
{
	display: none;
}

.container ul li:hover> ul
{
	display: block;
			
}
				
.plus
 {
 	position: absolute;
 	float: right;
 	right: 10px;
 	height: 25px;
 	width: 40px;
 	
 }

.top-li
{
	border-top: 1px solid green;
}
.bottom-li
{
	border-bottom: 1px solid green;
}


/***************new*************************/
.new
{
	position: relative;
	top: 460px;
	left: 70px;
	padding: 20px;
	background-image: url(choisir.png);
	background-size:100% 100%;
	width:1175px;
	height:580px;
}
.pub
{
	position: absolute;
	top: 1040px;
	left: 50px;
	padding: 20px;
}

 

/******************************saves*************/

.save
{
	position: absolute;
	top: 100px;
	left: 60px;
	text-decoration: none;
	color: black;
}



.entrep
{
	top:1300px;
	position: absolute;
	margin-left: 240px;
}

footer
{
	position: absolute;
	margin: 0%;
	padding: 0%;
	top: 170%;
	float: left;
}
.logo-footer
{
	position: absolute;
	width: 170px;
	height: 150px;
	top: 20px;
	left: 80px;
}
#footer a
{
	color:white;
	text-decoration: none;
}
#rx
{

	border-radius: 50px;
	border:3px solid #fff; 
	height: 30px;
	width: 30px;

}
#rx:hover
{
	border-radius: 50px;
	border:3px solid #fff; 
	height: 30px;
	width: 30px;
	transform: rotate(360deg);
	transition-duration: 1.5s;
	
}
b
{
	color: #fff;
	font-size: 25px;
}

#sub,#envoyer
{	
	border-radius: 10px;
	width:400px;
	height: 40px;
	border:none;
	font:bold 14px sans-serif;
	color:#ffffff;
	background-color: green;
	margin-left: 120px;
}
.table-choix
{
	border:1px solid grey;
	width: 650px;
	height: 550px;
	background:#fff;
	opacity:0.8;
 	position: absolute;
	top:45px;
	
	left:280px;
	
	border-radius: 30px;

}
.table-choix h3
{
	color:#10205F;
}
.stage select
{
	background-color:#fff;
	padding:10px;
	border-radius:5px;
	border:2px solid #10205F;
	width: 530px;
	font:bold 14px sans-serif;
	margin-left:50px;
	opacity: 1;
	
}
