
*
{
	margin: 0px;
	padding: 0px;

}
body
{
	background: #eee;
	font-family: times new roman;
}


/************************header******************************/
/************************header******************************/
header
{
	position: absolute;
	float: left;
	top:0px;
	left: 0px;
	
	opacity:1;
	background-size: cover;
	width: 100%;
	background-repeat:repeat;
	height:53%;
	margin: 0;
}
.header
{
	background-repeat: no-repeat;
	position: absolute;
	top: 55px;
	width: 100%;
	height: 293px;
}
/*******************************************nav************************************/
.menu-text-cnx 
{
	text-decoration: none;
	color:#fff;
	font-size: 20px;
	top: 4px;
	background: transparent;
	border: none;
	right: 20px;
	position: absolute;
}
/*********************logo**********************/
.slogo
{

	position: absolute;
	left: 160px;
	top: 30px;	
	color:#fff;
	text-align: center;
	font: bold;
	font-size: 18px;

}


.logo
{
	position: absolute;
	left: 70px;
	top: 5px;	
	width: 105px;
	height: 92px;
}
.head-logo
{
	position: absolute;
	left: 580px;
	top: 10px;	
	width: 135px;
	height: 92px;
}

/*****************menu************/
.menu
{
	position:absolute;
	float: left;
	top: 0px;
	left:0px;
	background-color: #002261;
	opacity:1;
	width: 100%;
	background-repeat:repeat;
	height:25%;
}
.menu ul
{
	padding: 0;
	display: flex;
	position: absolute;
	right:300px;
	top:20px;
}
.menu ul li 
{
	list-style: none;
	padding: 10px 20px;

}
.menu ul li a 
{
	text-decoration: none;
	position: relative;
	font-size:1.5em;
	padding: 5px;
	color: #fff;
}
.menu ul li a:hover
{
	color:#ff0;
}
.menu ul li a span:first-child:before
{
	content: '';
	position: absolute;
	top:0;
	left: 0;
	width: 8px;
	height: 8px;
	background-color: transparent;
	border-top:2px solid #ff0;
	border-left:2px solid #ff0;
	transition: .2s;
	opacity: 0;
}
.menu ul li a:hover span:first-child:before
{
	top: -10px;
	left: -10px;
	opacity: 1;
}

.menu ul li a span:first-child:after 
{
	content: '';
	position: absolute;
	top:0;
	right: 0;
	width: 8px;
	height: 8px;
	background-color: transparent;
	border-top:2px solid #ff0;
	border-right:2px solid #ff0;
	transition: .2s;
	opacity: 0;
}
.menu ul li a:hover span:first-child:after 
{
	top: -10px;
	right: -10px;
	opacity: 1;
}
.menu ul li a span:last-child:before
{
	content: '';
	position: absolute;
	bottom:0;
	left: 0;
	width: 8px;
	height: 8px;
	background-color: transparent;
	border-bottom:2px solid #ff0;
	border-left:2px solid #ff0;
	transition: .2s;
	opacity: 0;
}
.menu ul li a:hover span:last-child:before
{
	bottom: -10px;
	left: -10px;
	opacity: 1;
}
.menu ul li a span:last-child:after 
{
	content: '';
	position: absolute;
	bottom:0;
	right: 0;
	width: 8px;
	height: 8px;
	background-color: transparent;
	border-bottom:2px solid #ff0;
	border-right:2px solid #ff0;
	transition: .2s;
	opacity: 0;
}
.menu ul li a:hover span:last-child:after 
{
	bottom: -10px;
	right: -10px;
	opacity: 1;
}
.connexion-div
{
	position: absolute;
	right: 150px;
	top: 30px;
	background-color:green;
	width: 130px;
	height: 32px;
	border-radius: 7px;
}
/***************rx**********************/
.reseau-socieux
{
	position: fixed;
	float: left;
	left: 8px;
	top:50%;

}

/***********************new**********/
.new
{
	position: absolute;
	top: 420px;
	left: 70px;
	width: 280px;
	height: 365px;
	background-color: #fff;
	color:#00B050;
}
.pub
{
	position: absolute;
	top: 970px;
	left: 50px;
	padding: 20px;

}
/*************************menu3***************/
.menu3
	{
		position: absolute;
		top: 350px;
		left: 70px;
		width: 1215px;
		height: 40px;
		background-color:#B6B6B7; 
		line-height: 40px;
	}


.menu3-rectangle-etd a
	{
		color: white;
		text-decoration: none;
		top: 10px;
	}

.menu3-rectangle-a a
	{
		color: white;
		text-decoration: none;
		top: 10px;
	}

	.dernier-chemin
	{
		display: inline-block;
		position: absolute;
	}
	.dernier-chemin a
	{
		color: white;
		position: relative;
		left:-140;
		top: 4px;
	}


	.menu3-rectangle-a
	{
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
	}

	.menu3-rectangle-a
	{
		content: '';
		display: inline-block;
		border-top: 0px solid gray;
		border-left: 39px solid gray;
		border-right: 39px solid gray;
		border-bottom: 0px solid gray;
		line-height: 39px;
		background-color: gray;
	}
	


	.menu3-triangle-a
	{
		display: inline-block;
		position: absolute;
		left: 125.2px;
		top: .08rem;
	}

	
	
	.menu3-triangle-a::after
	{
		content: '';

		display: inline-block;
		border-top: 19px solid transparent;
		border-left: 19px solid gray;
		border-bottom: 19px solid transparent;

	}


	.menu3-triangle-a-blanc
	{
		display: inline-block;
		position: absolute;
		left: 126px;
		top:-.04rem;
	}

	
	
	.menu3-triangle-a-blanc::after
	{
		content: '';
		display: inline-block;
		border-top: 21px solid transparent;
		border-left: 21px solid white;
		border-bottom: 21px solid transparent;
	}



/************def*********************************/
.def
{
	position: absolute;
	top: 420px;
	right: 65px;
	width:780px;
 	height:300px;
	padding: 30px 50px;
	background: #fff;
	border-radius: 3px;
	font-size: 18px;
	text-align: justify;
}
.def h2
{
	color:#00B050;
}
.video
{
	position: absolute;
	top: 830px;
	right: 65px;
	width: 1220px;
	height:550px;
}/*******************************************************footer*****************************/
footer
{
	position: absolute;
	margin: 0%;
	padding: 0%;
	top: 238%;
	float: left;
}
.logo-footer
{
	position: absolute;
	width: 170px;
	height: 150px;
	top: 20px;
	left: 80px;
}
#footer a
{
	color:white;
	text-decoration: none;
}
#rx
{

	border-radius: 50px;
	border:3px solid #fff; 
	height: 30px;
	width: 30px;

}
#rx:hover
{
	border-radius: 50px;
	border:3px solid #fff; 
	height: 30px;
	width: 30px;
	transform: rotate(360deg);
	transition-duration: 1.5s;
	
}
b
{
	color: white;
	font-size: 25px;
}
.etd2
{
	position: relative;
	left:43px;
	background-color: green;
	width: 200px;
	height: 15px;
	top: -5px;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
}
.etd2 a
{
	color: #fff;
	text-decoration: none;

}

#box1
		{
			position: absolute;
			top:100px;
			right:300px;
			display:none;
			padding:30px;
     		width: 367px;
			height:360px;
			box-sizing: border-box;
			background: #fff;
			border-radius: 10px;
			border: 1px solid #10205F;

		}
		#box1 h2
   		{
			margin: 0 0 30px;
			padding: 0;
			color:#ED5F5F;
			text-align:center; 
		}
		#box1 #cnxinput 
		{

			position: relative;
		}
		#box1 #cnxinput input
		{
			width: 100%;
			padding:10px 0;
			font-size: 16px
			margin-bottom: 30px;
			border:none;
			color:#10205F;
			outline: none;
			border-bottom: 1px solid #10205F ;
			background: transparent;

		}
		#box1  #cnxinput label
		{
			position: absolute;
			color:#10205F;
			top:0;
			left:0;
			padding: 10px 0;
			font-size: 16px;
			pointer-events: none;
	        transition: .5s;
}

#box #cnxinput input:focus ~ label,
#box1 #cnxinput input:valid ~ label
{
	top: -10px;
	left: 0;
	color: #10205F;
	font-size: 12px;
}

#sub,#envoyer
{	
	border-radius: 10px;
	width:300px;
	height: 30px;
	border:none;
	font:bold 14px sans-serif;
	color:#ffffff;
	background-color: #10205F;
}
.domaine
{
	top:1120px;
	position: absolute;
}
.titre_domaine
{
	position: absolute
	top:1120px;
	left:800px;

}
.info
{
	width:250px;
	height:400px;
	left:100px;
	position: absolute;
	background-color:#fff;

}
.bio
{
	width:250px;
	height:400px;
	left:400px;
	position: absolute;
	background-color:#fff;

}

.domaine-img
{
	width:200px;
	height:170px;
	opacity:0.9;
	margin-left: 25px;

}
.text
{
	position:relative;
	top:-50px;
	font-size: 17px;
	color:#10205F;
	margin-left: 25px;
}
.text-t
{
	position:relative;
	top:-80px;
	font-size: 17px;
	color:#10205F;
	margin-left: 25px;
}
.titre
{
	position:relative;
	top: -140px;
	color:#fff;
	font-style: bold;
	font-size: 19px;
	text-align: center;


}
.phy
{
	width:250px;
	height:400px;
	left:700px;
	position: absolute;
	background-color:#fff;

}
.math
{
	width:250px;
	height:400px;
	left:1000px;
	position: absolute;
	background-color:#fff;

}
.entrep
{
	top:830px;
	position: absolute;
	margin-left: 240px;
}
